header {
  background-color: #ff7070;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: #ff7070;
}

a.active {
  color: #c6ff00;
}

a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-family: 'Exo', sans-serif;
}

p {
  font-size: 18px;
}

h1,
h2 {
  font-family: 'Exo', sans-serif;
}

ul {
  font-family: 'Exo', sans-serif;
}

/*playing with sticky header*/
/*.navLink {
  position: fixed;
  top: 0;
  width: 100%;
}*/

.navHeader {
  display: flex;
  justify-content: center;
}

.homeImg {
  height: 100vh;
  background-image: url("http://www.ie-wallpapers.com/data/out/137/36259086-kids-images.jpg");
  background-size: cover;
}

.siteTitle {
  font-size: 55px;
  color: #987f7f;
  font-family: 'Yellowtail', cursive;
}

.contactForm {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.contactUs {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.contactWrapper {
  border: 3px solid #ff7070;
  color: #987f7f;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: blue;
  opacity: 0.6;
}

.tag {
  color: black;
  text-decoration: underline;
}

.formSpacing {
  margin: 10px;
}

.welcomeText {
  display: flex;
  justify-content: center;
  padding: 60px;
  color: blue;
  font-size: 150px;
  opacity: 0.5;
}

.outfitOne {
  display: flex;
  justify-content: center;
  margin: 100px;
  height: 450px;
}
.outfitTwo {
  display: flex;
  justify-content: center;
  margin: 100px;
  height: 450px;
}

.outfitThree {
  display: flex;
  justify-content: center;
  margin: 100px;
  height: 450px;
}

.outfitsUl {
  padding-right: 40px;
  width: 300px;
}
.welcome {
  font-family: 'Yellowtail', cursive;
}

.aboutWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutUs {
  margin-top: 100px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}
